[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/makingsoundmachines/libDaisy
	branch = master
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/makingsoundmachines/DaisySP
	branch = master
