[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/makingsoundmachines/libDaisy
	branch = master
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/makingsoundmachines/DaisySP
	branch = master
[submodule "heart-of-gold"]
	path = heart-of-gold
	url = https://github.com/makingsoundmachines/heart-of-gold
	branch = main
[submodule "stmlib"]
	path = stmlib
	url = https://github.com/pichenettes/stmlib
